————————————————————————————————————————————————

Here are the packages used in this research project:

numpy
csv
pandas
matplotlib
seaborn
datetime
statsmodels
————————————————————————————————————————————————